<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config/db_config.properties"/>
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql_driver}"/>
                <property name="url" value="${mysql_url}"/>
                <property name="username" value="${mysql_user}"/>
                <property name="password" value="${mysql_password}"/>
            </dataSource>
        </environment>
        
    </environments>
    <mappers>
        <mapper resource="config/PersonSqlMapper.xml"></mapper>
        <mapper class="com.tongji.zhou.Mapper.ActorAndDirectorSqlMapper"/>
        <mapper class="com.tongji.zhou.Mapper.MovieFactSqlMapper"/>
        <mapper class="com.tongji.zhou.Mapper.ProductSqlMapper"/>
        <mapper class="com.tongji.zhou.Mapper.GenreSqlMapper"/>
        <mapper class="com.tongji.zhou.Mapper.DateSqlMapper"/>
        <mapper class="com.tongji.zhou.Mapper.RankingSqlMapper"/>
    </mappers>
</configuration>